body {
}
*{margin: 0px; padding: 0px;}
#main {width: 1335px; margin: auto}
#banner{width: 1335px; min-height: 50px; background-color: #000; margin-top: 5px;}
#banner .logo{float: left; width: 250px; min-height: 40px; text-align: center; color: white; margin-top: 10px;}
#left{float: left; background-color: #000; width: 250px; min-height: 800px;}
#left ul{list-style-type: none; width: 250px; border-top: 1px solid #ffffff;}
#left li a{display: block; color: #ffffff; padding: 15px 0 15px 26px; text-decoration: none; font-family:'Times New Roman';}
#left li{border-bottom: 1px solid #ffffff;}
#left li a:hover{background-color: #4caf50; color: white;}
#left .Sub{position: absolute; left: 180px; display: none; background-color: #000; border: 1px solid #ffffff;margin-left: 5px; width: 150px;}
#left ul li:hover .Sub{display:block;}
#right{float: right; width:1083px; min-height: 797px; margin-top: 3px;}